@font-face{font-family:Myriad;src:url('../fonts/MyriadPro-Regular.otf');}
@font-face{font-family:MyriadSem;src:url('../fonts/MyriadPro-Semibold.otf');}
@font-face{font-family:MyriadBold;src:url('../fonts/MyriadPro-Bold.otf');}
@font-face{font-family:Pattaya;src:url('../fonts/Pattaya-Regular.ttf');}

body{font-family:Myriad,'Arial Narrow',sans-serif;}

#content-wrap {
	position: relative;
	overflow: hidden;
}

div.row {
	margin: 0 !important;
}

a {
	outline: none !important;
}

span.fonts {
	font-family: Myriad, 'Arial Narrow', sans-serif;
}


/* ШАПКА + МЕНЮ */

.container-fluid.top {
	padding: 25px 0 35px;
	background: linear-gradient(to bottom, #007233 75%, #27A42F 100%);
	color: white;
	font-weight: bold;
}

.top .container {
	position: relative;
	padding: 0;
}

.shapka {
	display: flex;
	align-items: center;
	padding: 5px 0;
}

.shapka [class^="col"] {
	letter-spacing: 1px;
	text-align: center;
}
.shapka .logo,
.shapka .contacts,
.shapka .social,
.shapka .mobile {
	padding: 0;
}

.shapka .logo .exhib-number {
	margin: 0;
	text-align: left;
	color: #efb900;
}

.shapka .social {
	text-align: right;
}
.shapka .social img {
	margin: 2px;
}

.menu {
	padding: 10px;
	list-style: none;
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: space-around;
	background-color: #efb900;
	position: absolute;
	bottom: -45px;
	left: 0;
	right: 0;
	margin: 0;
	box-shadow: 0 2px 5px 1px gray;
}

.contacts div {
	padding: 10px;
}

.menu a {
	color: #007233;
}

.menu li {
	display: inline-block;
}

.glyphicon-menu-down {
	position: relative;
	top: 5px;
	opacity: 0;
}

.menu li:hover .menu-item {
	border-bottom: 2px solid #007233;
}

.menu li:hover .glyphicon-menu-down {
	opacity: 1;
}

.sub-menu {
	position: absolute;
	width: 200px;
	top: 100px;
	right: -220px;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: rgba(255,255,255,.9);
	z-index: 1;
}

.sub-menu ul {
	margin: 0;
	padding: 0;
}

.sub-menu li {
	list-style: none;
	border-bottom: 1px solid #007233;
	padding: 5px 0 5px 15px;
}

.sub-menu li a {
	color: #007233;
	font-size: 18px;
	text-decoration: none;
}

.sub-menu li:active,
.sub-menu li:focus {
	background-color: #007233;
}

.sub-menu li:active a,
.sub-menu li:focus a {
	color: white;
}

.sub-menu-visible {
	right: 0;
}

.burger {
	float: right;
	cursor: pointer;
}

.burger > div {
	width: 30px;
	border: 2px solid white;
	margin: 4px 0;
	-webkit-transition: .5s;
	transition: .5s;
}

.burger.cross > div:first-child {
	-webkit-transform: translateY(10px) rotate(45deg);
	-ms-transform: translateY(10px) rotate(45deg);
	-o-transform: translateY(10px) rotate(45deg);
	-moz-transform: translateY(10px) rotate(45deg);
	transform: translateY(10px) rotate(45deg);
}

.burger.cross > div:last-child {
	-webkit-transform: translateY(-6px) rotate(135deg);
	-ms-transform: translateY(-6px) rotate(135deg);
	-o-transform: translateY(-6px) rotate(135deg);
	-moz-transform: translateY(-6px) rotate(135deg);
	transform: translateY(-6px) rotate(135deg);
}

.burger.cross > div:nth-child(2) {
	opacity: 0
}

@media screen and (max-width: 1199px) {
	.menu {
		width: 100%;
	}
	.menu-item {
		padding: 0 10px;
	}
	.shapka .logo .exhib-number {
		font-size: 12px;
		text-align: center;
	}
}

@media screen and (max-width: 991px) {
	.container-fluid.top {
		padding: 10px;
	}
	.top .container {
		width: 100%;
	}
	.shapka .logo .exhib-number {
		font-size: 14px;
		text-align: left;
	}
}

@media screen and (max-width: 520px) {
	.logo {
		width: 85%;
	}
	.mobile {
		width: 15%;
	}
	.contacts {
		display: none;
	}
}

@media screen and (max-width: 360px) {
	.shapka .logo .exhib-number {
		font-size: 12px;
		text-align: center;
	}
}


/* ТОП БЛОК */

.container-fluid.top-block {
	background-image: url('../img/fon-hat.jpg');
	background-size: cover;
	background-position: 50% 50%;
	padding: 70px 0;
}

.top-block .container {
	position: relative;
}

.flower {
	position: absolute;
	left: -30px;
}

.top-block .date,
.top-block .month {
	text-align: center;
	color: #007233;
	font-size: 100px;
	font-family: MyriadBold, 'Arial Narrow', sans-serif;
	font-weight: bold;
}

.top-block .month {
	font-size: 38px;
	line-height: 0;
}

.top-block .month span {
	color: #efb900;
}

.but-ton {
	display: inline-block;
	width: 190px;
	height: 60px;
	position: relative;
	overflow: hidden;
	color: white;
	padding: 10px;
	margin: 10px 5px;
	text-align: center;
	font-size: 17px;
	box-shadow: -1px -1px 3px black;
	outline: none;
	background-color: #007233;
}

.but-ton:before {
	content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
	-webkit-transition: .5s;
    transition: .5s;
	background-color: #efb900;
}

.but-ton:hover:before {
	left: 0;
}

.but-ton span {
	position: absolute;
	display: inline-block;
	width: 100%;
	left: 0;
}

.but-ton.stand span {
	top: 17px;
}

.but-ton.ticket span {
	top: 5px;
}

.button-wrap {
	margin-top: 50px;
	width: 190px;
}

.skk {
	margin: 30px auto 0;
}

.mob-soc {
	text-align: center;
}

.mob-soc img {
	margin: 0 5px;
}

@media screen and (max-width: 1199px) {
	.flower {
		top: 30px;
		width: 450px;
	}
}

@media screen and (max-width: 991px) {
	.button-wrap {
		margin: 35px auto 0;
	}
}

@media screen and (max-width: 767px) {
	.container-fluid.top-block {
		padding: 40px 0;
	}
	.skk {
		margin-top: 50px;
	}
}

@media screen and (max-width: 500px) {
	.button-wrap {
		text-align: center;
	}
}


/* ТЕМАТИКА */

.container-fluid.theme {
	background-image: url('../img/fon-derevo.jpg');
	background-size: cover;
	background-position: 50% 50%;
	padding: 0 0 100px 0;
}

.description {
	font-size: 20px;
	line-height: 22px;
	text-align: justify;
}

.buttons-group {
	padding: 30px 0;
}

.buttons-group .col-sm-3 {
	text-align: center;
	padding: 0;
}

.buttons-group .but-ton {
	margin: 10px 0;
	background-color: #efb900;
}

.buttons-group .but-ton:before {
	background-color: #007233;
}

.buttons-group .but-ton span {
	top: 18px;
}

.theme-blocks,
.theme-blocks .col-sm-4 {
	display: flex;
	justify-content: center;
}

.theme-blocks {
	flex-wrap: wrap;
}

.theme-item {
	background-color: rgba(0,0,0,.2);
	padding: 10px 10px 30px 10px;
	text-align: center;
	position: relative;
	margin: 10px auto;
}

.theme-item .title {
	font-weight: bold;
	font-family: MyriadBold, 'Arial Narrow', sans-serif;
	font-size: 16px;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.theme-item .pic {
	box-shadow: 2px 2px 3px black;
	margin: 5px auto;
}

.theme-item .text,
.theme-item a {
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
}

.theme-item a {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

@media screen and (max-width: 991px) {
	.buttons-group {
		width: 100%;
	}
	.buttons-group .but-ton {
		width: 175px;
	}
}

@media screen and (max-width: 767px) {
	.buttons-group .but-ton {
		width: 190px;
	}
}


/* НОВОСТИ */
/*
.news {
	background-color: #EEEEEE;
	padding: 10px 0;
	color: #006b3b;
}

.news h2 {
	text-align: center;
	font-family: Pattaya;
}
*/


/* ПРИНЯТЬ УЧАСТИЕ + ПОСЕТИТЬ */

.container-fluid.takepart-visit {
	background-image: url('../img/fon-takepart.jpg');
	background-size: cover;
	background-position: 50% 50%;
	font-family: Pattaya;
	color: #007233;
	padding: 50px 0;
}

.container-fluid.takepart-visit h2 {
	text-align: center;
}

.circles img {
	display: block;
	margin: 25px auto 10px;
	width: 140px;
}

.circles p {
	font-size: 22px;
	line-height: 22px;
}

.takepart-buttons .col-sm-4 {
	text-align: center;
}

.takepart-buttons .but-ton span {
	top: 5px;
}

#visit {
	padding-top: 150px;
	position: relative;
}

#visit .ticket-blank {
	position: absolute;
	width: 650px;
	top: 250px;
	left: 320px;
}

#visit .content p {
	font-family: Myriad, 'Arial Narrow', sans-serif;
	font-size: 17px;
}

#visit .but-ton {
	float: right;
	margin-top: 300px;
}

#visit .but-ton span {
	top: 5px;
}

/* БЕСПЛАТНЫЙ БИЛЕТ */

#ticket {
	color: #007233;
}

#ticket .modal-content {
	border-radius: 0;
	margin-top: 70px;
	position: relative;
	background: none;
}

#white-fon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

#fon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	background-image: url('../img/modal-fon.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

#ticket .modal-header {
	font-family: Pattaya;
	font-size: 26px;
	text-align: center;
}

#ticket [data-dismiss="modal"] {
	font-family: Myriad, sans-serif;
	font-weight: bold;
	float: right;
	color: black;
	cursor: pointer;
}

#ticket .modal-body {
	font-family: Myriad, sans-serif;
	padding: 0 15%;
}

#ticket [type="text"] {
	width: 100%;
	height: 45px;
	font-size: 20px;
}

#ticket label {
	font-weight: normal;
}

#ticket label a {
	color: black;
	font-weight: bold;
}

#ticket [type="submit"] {
	display: block;
	margin: 0 auto;
	padding: 5px 10px;
	font-size: 16px;
}

.vkontakte, .content {
	overflow: hidden;
}

@media screen and (max-width: 1199px) {
	#visit .ticket-blank {
		width: 600px;
		left: 250px;
	}
}

@media screen and (max-width: 991px) {
	#visit {
		width: 100%;
	}
	#visit .ticket-blank {
		width: 500px;
	}
}

@media screen and (max-width: 767px) {
	#visit {
		padding-top: 50px;
	}
	#visit .ticket-blank {
		left: 20px;
		top: 200px;
		width: 80%;
	}
	.vkontakte {
		padding-top: 20px;
	}
	#ticket .modal-body {
		padding: 0 10%;
	}
}

@media screen and (max-width: 500px) {
	#visit .but-ton {
		margin-top: 250px;
	}
}

@media screen and (max-width: 360px) {
	#visit .but-ton {
		float: none;
		display: block;
		margin: 200px auto 0;
	}
}


/* ОТЗЫВЫ */
/*
.comments {
	padding: 30px 0 80px;
}

.comments h2 {
    text-align: center;
    color: #006b3b;
    font-family: Pattaya;
	margin-bottom: 30px;
}

.comments .slick-prev:before,
.comments .slick-next:before {
	color: #107c4a;
	font-size: 35px;
}

.comments .slick-prev {
	left: 35%;
	top: 110%;
}

.comments .slick-next {
	right: 35%;
	top: 110%;
}

.com-item {
	border: 1px solid silver;
	width: 260px;
	height: 440px;
	padding-bottom: 15px;
	margin: 0 auto;
	-webkit-transition: .5s;
	transition: .5s;
	box-shadow: 2px 2px 3px silver;
}

.com-item:hover {
	border: 5px solid #006b3b;
	color: #006b3b;
}

.com-item .top-pic {
	height: 150px;
	margin-bottom: 50px;
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
}

.com-item.one .top-pic {
	background-image: url('../img/comments/pic1.jpg');
}

.com-item.two .top-pic {
	background-image: url('../img/comments/pic2.jpg');
}

.com-item.three .top-pic {
	background-image: url('../img/comments/pic3.jpg');
}

.com-item.four .top-pic {
	background-image: url('../img/comments/pic4.jpg');
}

.com-item.five .top-pic {
	background-image: url('../img/comments/pic5.jpg');
}

.com-item.six .top-pic {
	background-image: url('../img/comments/pic6.jpg');
}

.com-item.seven .top-pic {
	background-image: url('../img/comments/pic7.jpg');
}

.com-item.eight .top-pic {
	background-image: url('../img/comments/pic8.jpg');
}

.com-item.nine .top-pic {
	background-image: url('../img/comments/pic9.jpg');
}

.com-item.ten .top-pic {
	background-image: url('../img/comments/pic10.jpg');
}

.com-item .top-pic:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -35px;
	margin: auto;
	width: 70px;
	height: 70px;
	border: 2px solid silver;
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 50%;
	-webkit-transition: .4s;
	transition: .4s;
}

.com-item.one .top-pic:after {
	background-image: url('../img/comments/1.jpg');
}

.com-item.two .top-pic:after {
	background-image: url('../img/comments/2.jpg');
}

.com-item.three .top-pic:after {
	background-image: url('../img/comments/3.jpg');
}

.com-item.four .top-pic:after {
	background-image: url('../img/comments/4.jpg');
}

.com-item.five .top-pic:after {
	background-image: url('../img/comments/5.jpg');
}

.com-item.six .top-pic:after {
	background-image: url('../img/comments/6.jpg');
}

.com-item.seven .top-pic:after {
	background-image: url('../img/comments/7.jpg');
}

.com-item.eight .top-pic:after {
	background-image: url('../img/comments/8.jpg');
}

.com-item.nine .top-pic:after {
	background-image: url('../img/comments/9.jpg');
}

.com-item.ten .top-pic:after {
	background-image: url('../img/comments/10.jpg');
}

.com-item:hover .top-pic:after {
	border: 2px solid #006b3b;
}

.com-item p {
	padding: 0 25px;
}
	
.com-item p.name {
	font-size: 18px;
}
*/

/* ПАРТНЕРЫ */

.partners {
	padding: 35px 0 70px;
	background-color: #efb900;
}

.partners h2 {
    text-align: center;
    color: white;
    font-family: Pattaya;
	margin-bottom: 30px;
}

.part-items img {
	display: block;
	margin: 0 auto;
}

.partners .slick-next,
.partners .slick-prev {
	top: 45%;
	z-index: 1;
}

.partners .slick-prev:before,
.partners .slick-next:before {
	font-weight: bold;
	font-size: 30px;
}

.partners .slick-prev:before {
    content: '<';
}

.partners .slick-next:before {
    content: '>';
}

@media screen and (max-width: 767px) {
	.partners .slick-prev {
		right: 10px;
	}
	.partners .slick-next {
		left: 10px;
	}
}

@media screen and (max-width: 600px) {
	.partners .slick-prev {
		right: -10px;
	}
	.partners .slick-next {
		left: -10px;
	}
}

/* КОНТАКТЫ */

#contacts {
	background-image: url('../img/fon-contacts.jpg');
	background-size: cover;
	background-position: 50% 50%;
	color: white;
	padding: 100px 0 150px;
	box-shadow: inset 0 2px 5px black;
}

#contacts .plashka {
	background-color: rgba(0, 114, 51, .4);
	border-radius: 10px;
	padding: 0 !important;
}

#contacts h2 {
    text-align: center;
    color: white;
    font-family: Pattaya;
	margin-bottom: 30px;
}

#contacts .row:last-child {
	padding-top: 30px;
	position: relative;
	background-color: rgba(0, 114, 51, .8);
	border-radius: 0 0 10px 10px;
}

#contacts .row:last-child .up {
	position: absolute;
	right: 30px;
	bottom: 35%;
	cursor: pointer;
	box-shadow: 2px 2px 3px black;
	border-radius: 2px;
}

#contacts .col-sm-4 {
	text-align: center;
	padding: 100px 0;
}

#contacts p {
	max-width: 385px;
	margin: 25px auto;
}

#contacts p a {
	color: white;
}

#contacts .but-ton {
	background-color: #efb900;
}

#contacts .but-ton:before {
	background-color: #007233;
}

#contacts .but-ton span {
	top: 5px;
}

#mapkit-8962 {
    height:300px;
    width:auto;
    box-shadow: -2px -2px 3px black;
}
	
@media screen and (max-width: 767px) {
	#contacts {
		padding: 70px 0;
	}
	#contacts .col-sm-4 {
		padding: 0 0 50px 0;
	}
	#contacts p {
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	#contacts .row:last-child .up {
		position: static;
		display: block;
		margin: 0 auto;
	}
}


/* ФУТЕР */

.footer {
	padding: 30px 0;
	background-color: #efb900;
}

.footer [class^="col-"] {
	padding: 10px;
}

.footer .soc {
	text-align: center;
}

.footer .soc img {
	margin: 7px;
}

@media screen and (max-width: 767px) {
	.footer [class^="col-"] {
		text-align: center;
	}
	
	.footer .org img {
		margin: 0 auto;
	}
}
